[Desktop Entry]
Encoding=UTF-8
Name=Xxxxxxx
Comment=Xxxxxxx P2P Cryptocurrency
Exec=/usr/bin/xxxxxxx-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/xxxxxxx128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
Name[en_US]=xxxxxxx-qt.desktop
