src/*.exe
src/vertcoin
src/vertcoind
src/test_vertcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.litecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
vertcoin-qt
Vertcoin-Qt.app

# Unit-tests
Makefile.test
vertcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
Info
Vertcoin-Qt.xcodeproj
Vertcoin-Qt.dmg

!src/leveldb*/Makefile

GPATH
GRTAGS
GSYMS
GTAGS
