src/*.exe
src/xxxxxxx
src/xxxxxxxd
src/xxxxxxxKeyGen
src/leveldb/build_config.mk
src/test_xxxxxxx
src/show_n_factor
.*.swp
*#*
*~*
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.xxxxxxx
nohup.out

# Compilation and Qt preprocessor part
*.qm
Makefile
xxxxxxx-qt
Xxxxxxx-Qt.app

# Unit-tests
Makefile.test
xxxxxxx-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
Info
Xxxxxxx-Qt.xcodeproj
Xxxxxxx-Qt.dmg

!src/leveldb*/Makefile

GPATH
GRTAGS
GSYMS
GTAGS
